package dao

import (
	"context"
	"github.com/huangbosbos/go-hutool/cache/memcache"
	"github.com/huangbosbos/go-hutool/cache/redis"
	"github.com/huangbosbos/go-hutool/database/orm"
	bm "github.com/huangbosbos/go-hutool/net/http/blademaster"
	"{{.Name}}/conf"
	"time"

	"github.com/jinzhu/gorm"
)

// Dao def
type Dao struct {
	// cache
	httpClient     *bm.Client
	mysql          *gorm.DB
	db             *gorm.DB
	mc             *memcache.Pool
	redis          *redis.Pool
	mcRecordExpire int32
}

// New create instance of Dao
func New() (d *Dao) {
	d = &Dao{
		mc:             memcache.NewPool(conf.Conf.Memcache.MC),
		httpClient:     bm.NewClient(conf.Conf.HTTPClient),
		mysql:          orm.NewMySQL(conf.Conf.ORM),
		db:             orm.NewMySQL(conf.Conf.ORM),
		redis:          redis.NewPool(conf.Conf.Redis),
		mcRecordExpire: int32(time.Duration(conf.Conf.Memcache.MCRecordExpire) / time.Second),
	}
	return
}

// Ping dao.
func (d *Dao) Ping(c context.Context) (err error) {
	return d.db.DB().Ping()
}

// Close dao.
func (d *Dao) Close() {
	if d.mc != nil {
		d.mc.Close()
	}
	if d.db != nil {
		d.db.Close()
	}
}
