package service

import (
	"context"
	. "github.com/smartystreets/goconvey/convey"
	"testing"
)

var (
	ctx = context.Background()
)

func WithService(f func(s *Service)) func() {
	return func() {
		// Reset(func() { CleanCache() })
		f(srv)
	}
}

func TestService_Ping(t *testing.T) {
	Convey("TestService_RankUsers", t, WithService(func(s *Service) {
		err := s.Ping(ctx)
		So(err, ShouldBeNil)
	}))
}

func TestService_Close(t *testing.T) {
	Convey("TestService_Close", t, WithService(func(s *Service) {
		s.Close()
	}))
}

func TestService_Wait(t *testing.T) {
	Convey("TestService_Wait", t, WithService(func(s *Service) {
		s.Wait()
	}))
}
