package service

import (
	"flag"
	"fmt"
	"{{.Name}}/conf"
	"os"
	"testing"
)

var (
	srv *Service
)

func TestMain(m *testing.M) {
	var err error
	flag.Set("conf", "../cmd/saga-admin-test.toml")
	if err = conf.Init(); err != nil {
		panic(err)
	}
	srv = New(conf.Conf)
	os.Exit(m.Run())
}

// TestInsertDB ...
func TestInsertDB(t *testing.T) {
	fmt.Println("todo...")
	fmt.Println("todo...")
}

// TestResolveDes ...
func TestResolveDes(t *testing.T) {

}
